In [2]:
import pandas as pd

In [3]:
#Named my file df, for later use


df = pd.read_csv(r"/Users/tsi/Downloads/csv files/sales.csv")
df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [4]:
#checked the info i'm working with

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [8]:
#looked up the first 10 rows 

df.head(10)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
5,2016-05-15,15,May,2016,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
6,2014-05-22,22,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
7,2016-05-22,22,May,2016,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
8,2014-02-22,22,February,2014,35,Adults (35-64),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,45,120,1096,990,2086
9,2016-02-22,22,February,2016,35,Adults (35-64),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,21,45,120,1046,945,1991

In [25]:
#looked up one column

df['Customer_Age']

0         19
1         19
2         49
3         49
4         47
          ..
113031    41
113032    18
113033    18
113034    37
113035    37
Name: Customer_Age, Length: 113036, dtype: int64

In [26]:
#looked up row 41's detail


df.loc[41]

Date                         2016-03-31
Day                                  31
Month                             March
Year                               2016
Customer_Age                         43
Age_Group                Adults (35-64)
Customer_Gender                       F
Country                   United States
State                        California
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                       11
Unit_Cost                            45
Unit_Price                          120
Profit                              799
Cost                                495
Revenue                            1294
Name: 41, dtype: object

In [20]:
#filtered my data to show every row that has customer age less than or equal to 20


df[df['Customer_Age'] <=20]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
62,2013-09-25,25,September,2013,19,Youth (<25),F,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,320,270,590
63,2015-09-25,25,September,2015,19,Youth (<25),F,Germany,Saarland,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,427,360,787
204,2014-05-11,11,May,2014,17,Youth (<25),M,United Kingdom,England,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,421,270,691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113015,2015-12-10,10,December,2015,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",6,24,64,156,144,300
113016,2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
113017,2015-10-04,4,October,2015,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",18,24,64,559,432,991
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183

In [22]:
#filtered the data to show a specific word, in this case a country


specific_countries =['Canada']

df[df['Country'].isin(specific_countries)]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
14,2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
15,2015-08-02,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,517,315,832
16,2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112885,2016-07-05,5,July,2016,38,Adults (35-64),M,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",14,24,64,551,336,887
112952,2013-08-18,18,August,2013,31,Young Adults (25-34),F,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",13,24,64,512,312,824
112953,2015-08-18,18,August,2015,31,Young Adults (25-34),F,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",11,24,64,433,264,697
112954,2013-09-21,21,September,2013,31,Young Adults (25-34),F,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",15,24,64,590,360,950
112955,2015-09-21,21,September,2015,31,Young Adults (25-34),F,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",16,24,64,630,384,1014

In [24]:
#filtered the data to show rows with age less than 20 and ordered them by age and date descending.


df[df['Customer_Age']<20].sort_values(by=['Customer_Age','Date'], ascending=False)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
18409,2016-07-31,31,July,2016,19,Youth (<25),M,Canada,British Columbia,Clothing,Caps,AWC Logo Cap,3,7,9,6,21,27
20659,2016-07-31,31,July,2016,19,Youth (<25),F,United States,Washington,Clothing,Caps,AWC Logo Cap,18,7,9,0,126,126
21533,2016-07-31,31,July,2016,19,Youth (<25),F,United States,Washington,Accessories,Cleaners,Bike Wash - Dissolver,23,3,8,75,69,144
25387,2016-07-31,31,July,2016,19,Youth (<25),M,Canada,British Columbia,Accessories,Fenders,Fender Set - Mountain,1,8,22,14,8,22
98851,2016-07-28,28,July,2016,19,Youth (<25),F,France,Garonne (Haute),Accessories,Tires and Tubes,Patch Kit/8 Patches,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60137,2011-04-03,3,April,2011,17,Youth (<25),F,Australia,Victoria,Bikes,Road Bikes,"Road-650 Red, 48",4,487,783,526,1948,2474
69329,2011-02-11,11,February,2011,17,Youth (<25),M,Australia,Victoria,Bikes,Road Bikes,"Road-750 Black, 48",4,344,540,330,1376,1706
71519,2011-02-10,10,February,2011,17,Youth (<25),F,United States,California,Bikes,Road Bikes,"Road-750 Black, 52",1,344,540,185,344,529
67283,2011-01-09,9,January,2011,17,Youth (<25),F,Canada,British Columbia,Bikes,Road Bikes,"Road-350-W Yellow, 42",1,1083,1701,601,1083,1684
58913,2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419